.imgAbout {
  width: 100vw;
  height: 550px;
  object-fit: cover;
  object-position: 20% 30%;
}

.emoji {
  width: 75px;
  height: 70px;
}

@media screen and (max-width: 750px) {
  .imgAbout {
    width: 500px;
    height: 300px;
    object-fit: scale-down;
    object-position: 50% 50%;
  }
}