.imgLogin {
  display: flex;
  width: 48.5vw;
  height: 100vh;
}

@media screen and (max-width: 767px) {
  img.imgLogin {
    display: none;
  }

  .container,
  .hello {
    display: flex;
    justify-content: center;
  }
}