.backgroundSignup {
  z-index: -1;
  background-position: center;
  background-size: cover;
  height: 80vh;
  opacity: 0.9;
}

.formSignup {
  z-index: 1;
  background-color: white;
  border-radius: 4px;
  opacity: 0.94;
  height: 28rem;
}